*{
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  /* height: 100vh; */
  font-family:'Poppins', sans-serif; 
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(50%);
}

.fetched{
  text-align: center;
}

.minmax{
  display: flex;
  justify-content: center;
  align-items: center;
}


